<%-include('foxy/header.ejs')%>

<%-include('foxy/nav.ejs')%>
<link rel="stylesheet" href="/stylesheets/index.css">

<div class="ma">
  <div class="m1">
    <h1>EXPENSIFY</h1>
    <p>Beware of little expenses. A Small leak will sink a great Ship. </p>
    <p id="w">Expensify is a powerhouse platform that helps you manage your company's spend — from receipt scanning and expense management to paying bills and booking travel.</p>

    <a href="/signup"><button>Register Now</button></a>
  </div>
  <div class="m2">
    <div class="lo"></div>
  </div>
</div>

<%-include('foxy/header.ejs')%>